

/* ==========================================================================
   Author's custom styles
   ** Classé par odre alphabetique **
   ========================================================================== */

/*@import url(http://fonts.googleapis.com/css?family=Lobster:300,400,700|Sacramento|Dawning+of+a+New+Day|Open+Sans:300,600,400|Quicksand:400,300,700);*/
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@font-face {
  font-family: 'Magritte';
  src: url('../fonts/Holmes207.ttf');
}

@font-face {
  font-family: 'Holmes';
  src: url('../fonts/Holmes207.ttf');
}

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 480px) {
/* Styles */
	section {
	padding: 5% 4% 4% 4%;
}



}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 320px) {
/* Styles */
section {
	padding: 5% 4% 4% 4% ;
	min-height: 90% !important;
	height: 90% !important;
}

#video-player {
	height: 200px;
}

.player-left {
	margin-right: 30% !important;
}

h2 {
	font-family: 'Holmes';
	font-size: 2em;
}
}

/* Smartphones (portrait) ----------- OK */
@media only screen 
and (max-width : 767px) {
/* Styles */
section {
	padding: 5% 4% 4% 4% ;
	min-height: 100% !important;
	height: 100% !important;
}

#container-nav {
	min-height: 100%;
	height: 100%;
	width: 100%;
}

}

/* Smartphones (portrait) ----------- OK */
@media only screen 
and (min-width : 768px) {
/* Styles */
section {
	padding: 15% 4% 4% 4% ;
}
}

/* iPads (landscape) ----------- */
@media only screen 
and (max-width : 1024px) {
/* Styles */
.nav-header-shrink {
	height: 17% !important;
}

.texte-illustration {
    margin-top: 20% !important;
}

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1024px) {
/* Styles */
h2 {
	font-family: 'Holmes';
	font-size: 3em;
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
h2 {
	font-family: 'Holmes';
	font-size: 4em;
}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

a, a:hover {
	text-decoration: none;
	color: white;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Quicksand', Verdana, sans-serif;
	color: #EBE8DA;
    background-attachment:fixed;
}


.bouton {
	margin-top: 70px;
	width: 250px;
	height: 60px;
	background-color: white;
    margin-left: 20px;
	text-align: center;
	line-height: 60px;
}

.btn-circle {
	border: 0;
	border-radius: 90px;
	margin-top: 20px;
	left: 50px;
	width: 70px;
	height: 70px;
}

.container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

#copyright {
	margin: 3em 0 0 0;
}

/* temporaire css pour dev */
div[class*="col-"] {
	border: 0px dashed blue;
}
/* /temporaire css pour dev */

div[class*="row"] {
	border: 0px dashed yellow;
}

footer {
	background-image: linear-gradient(138deg, rgb(41, 41, 39) 80%, rgb(41, 41, 39) 80%, rgb(38, 38, 34) 80%, rgb(41, 41, 39) 100%);
	padding: 2em 5em 2em 5em;
}

.footer-list li {
	list-style: none;
}

.footer-list {
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
}

h1 {
	font-family: 'Holmes', Verdana, sans-serif;
	font-weight: 400;
	font-size: 5em;
	margin-top: 5px;
}



h3 {
	font-family: 'Holmes';
	font-weight: 100;
	font-size: 2em;
	letter-spacing: -1px;
}

h4 {
	font-family: 'Holmes';
	font-weight: 100;
	font-size: 3em;
	letter-spacing: -1px;
}

.img-circle {
	border: 20px solid white;
}


nav ul li {
	display: inline;
	width: 115px;
	text-align: center;
	float:left;
	margin-right: -40px;
	margin-top: 1%;
}

.nav-header-shrink nav ul li {
	margin-top: 3%;
}

/*nav ul li {
	margin-top: 25px;
}*/

nav ul li:hover {
	transition: all 0.5s;
	margin-top: 1.5%;
}

.nav-phone {
	margin-left: auto;
  	margin-right: auto;
  	height: 80%;
}



.nav-header-phone {
	min-height: 100%;
	height: 100%;
	width: 100%;
	left: 0;
	opacity: 1;
	padding: 0;
	text-align: center;
	color: #EBE9DE !important;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 30px;
	background-color: #292927;
	background-image: linear-gradient(138deg, rgb(41, 41, 39) 80%, rgb(38, 38, 34) 80%) !important;
	transform: translateY(0%);
	transition: all 0.5s;
    transition-property: height, top, padding-top;
}

#logo {
	margin-top: 1.3%;
	margin-left: 20px;
	cursor: pointer;
}

/*.list-inline li {
	padding: 0px;
	margin: 0px;
}*/

.nav-header-shrink #nantes {
	font-size: 1.5em;
}

#nantes {
	font-size: 1.8em;
	font-family: 'Holmes';
}

.nav-header-shrink #logo {
	margin-top: 1% !important;
}

.nav-header {
	margin-left: auto;
  	margin-right: auto;
	position: fixed;
	top: 3%;
	left: 0;
	opacity: 1;
	padding: 0;
	z-index: 50;
	font-family: 'Lato', Arial, sans-serif;
	text-align: center;
	width: 100%;
	color: #EBE9DE;
	z-index: 1000;
	height: 25%;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 30px;
	background-color: #292927;
	background-image: linear-gradient(138deg, rgb(41, 41, 39) 80%, rgb(38, 38, 34) 80%);
	transform: translateY(0%);
	transition: all 0.5s;
    transition-property: height, top, padding-top;
}



.nav-header-shrink {
	top: 0%;
	height: 10%;
	padding-top: 0px;
}

.nav-header-shrink img[id*="picto"] {
	width: 70px;
}

.nav-header-shrink #logo {
	margin-top: 0;
}

.nav-header-shrink #vlipp-logo {
	width: 6%;
	margin-top: 0.5%;
}

nav {
    margin-left: auto;
  	margin-right: auto;
  	width: 100%;
}

nav ul {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}

.nav-header-shrink nav ul {
	margin-top: -1%;
}

p {
	padding: 2em 4em 0em 1em;
	font-size: 1.2em;
}

p:first-letter {
	font-size: 3em;
}

.play-right {
	margin-top: 0%;
	margin-left: 0%;
	cursor: pointer;
	width: 220px;
    height: 100%;
}

.play-left {
	margin-top: 0%;
	margin-right: 5%;
	cursor: pointer;
	width: 220px;
    height: 100%;
}

.play_button {
	/*margin-top: -35%;
    background-image: url('../images/play.png');
    background-repeat: no-repeat;
    width: 120%;
    background-size: 100% 100%;
    color: black;
    padding: 140px 40px 70px 0px;
    margin-left: 5%;
    max-width: 100%*/
    position: relative;
    margin-top: 15%;
/*    background-color: yellow;*/
    background-image: url('../images/play.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    min-height: 220px;
    max-width: 220px;
    cursor: pointer;
    z-index: 999;
    padding: 43% 35% 1% 40%;
    color: black;
} 

.picto-bg-01 {
	background-image: url('../images/picto-horloge.png');
	background-repeat: no-repeat;
	background-position: 90% 10%;
}

.picto-bg-02 {
	background-image: url('../images/picto-photo.png');
	background-repeat: no-repeat;
	background-position: 0% 10%;
}

.picto-bg-03 {
	background-image: url('../images/picto-piano.png');
	background-repeat: no-repeat;
	background-position: 90% 10%;
}

.picto-bg-04 {
	background-image: url('../images/picto-robe.png');
	background-repeat: no-repeat;
	background-position: 0% 10%;
}


.picto {
	width: 100px;
}

.picto-mini {
	width: 100px;
	height: 100px;
	margin-top: -45px;
	margin-bottom: -15px;
}

.row {
	width: 100%;
    height: 100%;
}


/* illustration accueil */
section:nth-child(2) {
	height: 100%;
	background-color: #F0EDDE;
	background-image: linear-gradient(128deg, #F0EDDE 70%, rgba(0, 0, 0, 0) 70%), url('../images/bg-picto.png');
	background-position: 0% 10%;
	color: black;
}

/* 1 */
section:nth-child(3) {
    /*margin-top: 73%;*/
	background-color: #3F3758;
	background-image: linear-gradient(48deg, rgba(0, 0, 0, 0) 40%,  #3F3758 40%), url('../images/bgsection6.jpg');

}

/* 2 */
section:nth-child(4) {
	background-color: #91BFA8; /* fallback */
	background-image: linear-gradient(128deg, #91BFA8 58%,  rgba(0, 0, 0, 0) 58%), url('../images/bg.jpg');
    transition: all 1s;
}

/* 3 */
section:nth-child(5) {
	background-color: #E6C77D; /* fallback */
	background-image: linear-gradient(48deg, rgba(0, 0, 0, 0) 40%,  #E6C77D 40%), url('../images/bgsection6.jpg');
    transition: all 1s;
}

/* 4 */
section:nth-child(6) {
	background-color: #BD4B56; /* fallback */
	background-image: linear-gradient(128deg, #BD4B56 58%,  rgba(0, 0, 0, 0) 58%), url('../images/bg.jpg');
    transition: all 1s;
}

/* 5 */
section:nth-child(7) {
	background-color: #365B63; /* fallback */
	background-image: linear-gradient(48deg, rgba(0, 0, 0, 0) 40%,  #365B63 40%), url('../images/bgsection6.jpg');
    transition: all 1s;
}

/* 6 */
section:nth-child(8) {
	background-color: #C8BC9C; /* fallback */
	background-image: linear-gradient(128deg, #C8BC9C 58%,  rgba(0, 0, 0, 0) 58%), url('../images/bg.jpg');
    transition: all 1s;
}

/* 7 */
section:nth-child(9) {
	background-color: #C58747; /* fallback */
	background-image: linear-gradient(48deg, rgba(0, 0, 0, 0) 40%,  #C58747 40%), url('../images/bgsection6.jpg');
    transition: all 1s;
}

/* 8 */
section:nth-child(10) {
	background-color: #A53959; /* fallback */
	background-image: linear-gradient(128deg, #A53959 58%,  rgba(0, 0, 0, 0) 58%), url('../images/bg.jpg');
    transition: all 1s;
}


section {
/*	padding: 5% 4% 4% 4%;*/
	min-height: 90%;
	height: 90%;
	width: 100%;
	z-index: 1005;
	overflow: hidden;
}


#slogan {
	font-family: 'Holmes', cursive;
	font-size: 1em;
	margin-top: -10px;
}

.social {
	margin-top: 15px;
}

.social > .fb-like {
	margin-right: 3px;
}

.texte {
	margin-top: 0%;
	/*background-color: orange;*/
}

.texte-illustration {
	margin-top: 7%;
}

.text-left {
	text-align: right;
}

/*.titre-diagonal {
	margin-top: -10%;
	transform:rotate(-52deg);
	opacity: 0.2;
}*/

#top {
	position: fixed;
	z-index: 900;
	bottom: 10px;
	right: 10px;
	background-color: rgba(255,255,255,0.5);
	width: 50px;
	height: 50px;
	font-size: 3.3em;
	text-align: center;
	color: black;
	border-radius: 100%;
	cursor: pointer;
}

.video-center {
	position: relative;
  	margin-left: auto;
 	margin-right: auto;
}



.video-js {padding-top: 36.25%}
.vjs-fullscreen {padding-top: 0px}

#vlipp-logo {
	width: 6%;
	margin-top: 1%;
	margin-right: 5%;
	float: right;
}

/* Slide animation */

/* contient les deux sections et garde la fenêtre à la bonne taille */

.container-slide {
	/*background-color: yellow;*/
	width: 100%;
	height: 100%;
  	display: table-cell;
  	vertical-align: middle;
  	overflow: hidden;
}

.slide {
	height: 100%;
	width: 200%;
	list-style: none;
}

.slide-01 {
	height: 100%;
	width: 50%;
	display: inline;
	float: left;
    transition: all 1s;
}

.slide-02 {
	width: 50%;
	display: inline;
	float: right;
    transition: all 1s;
}

.show-section {
    opacity: 1;
    transform: translateX(-100%);
    transition: all 1s;
}

.hide-section {
	opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

/* FIN Slide animation */