<!-- no-flag -->
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <!--<html class="no-js">--> <!--<![endif]-->
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Nantes Nord Webdoc // Ceci n'est pas à vendre.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/video-js.css">

        <% if (grunt.config.get('dev')) {%>
          <link rel="stylesheet" href="assets/css/main.css">
        <%}%>
        <% if (grunt.config.get('prod')) {%>
          <link rel="stylesheet" href="assets/css/main.min.css">
        <%}%>

        <script type="text/javascript" src="assets/vendor/prefixfree.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
    <div class="container" id="top">

      <!-- Header -->
          <!-- <header class="nav-header hidden-xs">
            <div class="row">
                <div id="logo" class="col-xs-12 col-sm-3 col-md-2 pull-left">
                  <span id="nantes">Ceci n'est pas à vendre.</span>
                  <div id="slogan"></div>
                </div>
                <nav class="col-sm-8 col-md-8">
                  <ul class="list-inline">
                    <li><a><img src="assets/images/picto01.png" alt="..." id="picto1" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto02.png" alt="..." id="picto2" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto03.png" alt="..." id="picto3" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto04.png" alt="..." id="picto4" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto5.png" alt="..." id="picto5" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto04.png" alt="..." id="picto6" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto03.png" alt="..." id="picto7" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto02.png" alt="..." id="picto8" class="img-responsive"></a></li>
                  </ul>
                </nav>
                <a href="http://www.vlipp.fr" target="_blank"><img src="assets/images/VLIPP-logo.png" alt="..." class="img-responsive" id="vlipp-logo"></a>
            </div>
          </header> -->

          <div id="container-nav">
          <header class="nav-header hidden-xs hidden-sm">
            <div class="row">
                <div id="logo" class="col-xs-12 col-sm-3 col-md-2 pull-left">
                  <span id="nantes">Ceci n'est pas à vendre.</span>
                  <div id="slogan"></div>
                </div>
                <nav class="col-sm-8 col-md-8">
                  <ul class="list-inline">
                    <li><a><img src="assets/images/picto01.png" alt="..." id="picto1" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto02.png" alt="..." id="picto2" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto03.png" alt="..." id="picto3" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto04.png" alt="..." id="picto4" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto5.png" alt="..." id="picto5" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto04.png" alt="..." id="picto6" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto03.png" alt="..." id="picto7" class="img-responsive"></a></li>
                    <li><a><img src="assets/images/picto02.png" alt="..." id="picto8" class="img-responsive"></a></li>
                  </ul>
                </nav>
                <a href="http://www.vlipp.fr" target="_blank"><img src="assets/images/VLIPP-logo.png" alt="..." class="img-responsive" id="vlipp-logo"></a>
            </div>
          </header>
          <div class="nav-header-phone-portrait visible-xs">
            <div class="row">
            <div id="logo" class="">
                  <span id="nantes">Ceci n'est pas à vendre.</span>
                  <div id="slogan"></div><br><br>
                </div>
                <table class="nav-phone" border="0">
                <tbody><tr>
                  <td><a><img src="assets/images/picto01.png" alt="..." id="picto-min-1" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto02.png" alt="..." id="picto-min-2" class="picto-mini"></a></td>
                  </tr>
                  <tr>
                  <td><a><img src="assets/images/picto03.png" alt="..." id="picto-min-3" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto04.png" alt="..." id="picto-min-4" class="picto-mini"></a></td>
                  </tr>
                  <tr>
                  <td><a><img src="assets/images/picto5.png" alt="..." id="picto-min-5" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto6.png" alt="..." id="picto-min-6" class="picto-mini"></a></td>
                  </tr>
                  <tr>
                  <td><a><img src="assets/images/picto7.png" alt="..." id="picto-min-7" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto8.png" alt="..." id="picto-min-8" class="picto-mini"></a></td>
                  </tr>
                </tbody></table>
            </div>

          </div>
          <div class="nav-header-phone-landscape">
            <div class="row">
            <div id="logo" class="">
                  <span id="nantes">Ceci n'est pas à vendre.</span>
                  <div id="slogan"></div><br><br>
                </div>
                <table class="nav-phone" border="0">
                  <tbody><tr>
                  <td><a><img src="assets/images/picto01.png" alt="..." id="picto-min-landscape-1" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto02.png" alt="..." id="picto-min-landscape-2" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto03.png" alt="..." id="picto-min-landscape-3" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto04.png" alt="..." id="picto-min-landscape-4" class="picto-mini"></a></td>
                  </tr>
                  <tr>
                  <td><a><img src="assets/images/picto5.png" alt="..." id="picto-min-landscape-5" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto6.png" alt="..." id="picto-min-landscape-6" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto7.png" alt="..." id="picto-min-landscape-7" class="picto-mini"></a></td>
                  <td><a><img src="assets/images/picto8.png" alt="..." id="picto-min-landscape-8" class="picto-mini"></a></td>
                  </tr>
                </tbody></table>
            </div>

          </div>


      </div>
      <!-- /Header -->

      <!-- Illustration d'accueil -->
        <section id="section-00">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-2 texte-illustration">
              <h2>Ceci n'est pas à vendre.</h2>
              Austin Truffaut polaroid, readymade Thundercats post-ironic try-hard VHS actually gentrify ennui.  90's American Apparel trust fund Austin authentic.  Narwhal four loko blog, post-ironic fingerstache Brooklyn drinking vinegar fixie.  Hashtag vinyl +1 dreamcatcher Etsy, swag plaid hoodie 90's polaroid blog roof party master cleanse cornhole sartorial.  DIY pour-over letterpress fingerstache.
            </div>
            <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5">
                <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                </div>
            </div>
          </div>
        </section>
      <!-- /Illustration d'accueil -->



          <section id="section-01">

            <div class="container-slide">
              <ul class="slide">
                <li class="slide-01">

                <div class="row picto-bg-01">
                  <div class="col-md-2 pull-left play-right">
                    <div class="play_button">Voir la video</div>
                    <!-- <img src="assets/images/portrait-01.png" class="img-circle img-responsive" /> -->
                  </div>
                

                  <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5 texte">
                    <h2>Venenatis</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl id lacus bibendum varius. Aenean vel augue lobortis, lobortis nunc vel, venenatis ante...
                  </div>
                  <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5">
                    <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>
                </div>
                <!-- Social -->


                </li>

                <li class="slide-02">



                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <video id="video-player" class="video-js vjs-default-skin video-center"
                      controls preload="auto" width="auto" height="auto"
                      poster="http://video-js.zencoder.com/oceans-clip.png"
                      data-setup='{"example_option":true}'>
                     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    </video>
                  </div>
                </div>
                <!-- Social -->
                <div class="row">
                  <div class="">
                      <button type="button" class="btn-circle video-center">retour</button>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>

                </div>


                </li>
              </ul>
            </div>


          </section>

          <section id="section-02">

            <div class="container-slide">
              <ul class="slide">
                <li class="slide-01">

                <div class="row picto-bg-01">
                  <div class="col-md-2 pull-right play-left">
                    <div class="play_button">Voir la video</div>
                    <!-- <img src="assets/images/portrait-01.png" class="img-circle img-responsive" /> -->
                  </div>
                

                  <div class="col-sm-5 col-md-5">
                    <h2>Venenatis</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl id lacus bibendum varius. Aenean vel augue lobortis, lobortis nunc vel, venenatis ante...
                  </div>
                  <div class="col-sm-5 col-md-5">
                    <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>
                </div>
                <!-- Social -->


                </li>

                <li class="slide-02">



                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <video id="video-player" class="video-js vjs-default-skin video-center"
                      controls preload="auto" width="auto" height="auto"
                      poster="http://video-js.zencoder.com/oceans-clip.png"
                      data-setup='{"example_option":true}'>
                     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    </video>
                  </div>
                </div>
                <!-- Social -->
                <div class"row">
                  <div class="col-md-1 col-md-offset-5">
                      <button type="button" class="btn-circle video-center">retour</button>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>

                </div>


                </li>
              </ul>
            </div>


          </section>
          

          <section id="section-03">

            <div class="container-slide">
              <ul class="slide">
                <li class="slide-01">

                <div class="row picto-bg-01">
                  <div class="col-md-2 pull-left play-right">
                    <div class="play_button">Voir la video</div>
                    <!-- <img src="assets/images/portrait-01.png" class="img-circle img-responsive" /> -->
                  </div>
                

                  <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5 texte">
                    <h2>Venenatis</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl id lacus bibendum varius. Aenean vel augue lobortis, lobortis nunc vel, venenatis ante...
                  </div>
                  <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5">
                    <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>
                </div>
                <!-- Social -->


                </li>

                <li class="slide-02">



                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <video id="video-player" class="video-js vjs-default-skin video-center"
                      controls preload="auto" width="auto" height="auto"
                      poster="http://video-js.zencoder.com/oceans-clip.png"
                      data-setup='{"example_option":true}'>
                     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    </video>
                  </div>
                </div>
                <!-- Social -->
                <div class"row">
                  <div class="col-md-1 col-md-offset-5">
                      <button type="button" class="btn-circle video-center">retour</button>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>

                </div>


                </li>
              </ul>
            </div>


          </section>


          <section id="section-04">

            <div class="container-slide">
              <ul class="slide">
                <li class="slide-01">

                <div class="row picto-bg-01">
                  <div class="col-md-2 pull-right play-left">
                    <div class="play_button">Voir la video</div>
                    <!-- <img src="assets/images/portrait-01.png" class="img-circle img-responsive" /> -->
                  </div>
                

                  <div class="col-sm-5 col-md-5">
                    <h2>Venenatis</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl id lacus bibendum varius. Aenean vel augue lobortis, lobortis nunc vel, venenatis ante...
                  </div>
                  <div class="col-sm-5 col-md-5">
                    <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>
                </div>
                <!-- Social -->


                </li>

                <li class="slide-02">



                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <video id="video-player" class="video-js vjs-default-skin video-center"
                      controls preload="auto" width="auto" height="auto"
                      poster="http://video-js.zencoder.com/oceans-clip.png"
                      data-setup='{"example_option":true}'>
                     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    </video>
                  </div>
                </div>
                <!-- Social -->
                <div class"row">
                  <div class="col-md-1 col-md-offset-5">
                      <button type="button" class="btn-circle video-center">retour</button>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>

                </div>


                </li>
              </ul>
            </div>


          </section>

          <section id="section-05">

            <div class="container-slide">
              <ul class="slide">
                <li class="slide-01">

                <div class="row picto-bg-01">
                  <div class="col-md-2 pull-left play-right">
                    <div class="play_button">Voir la video</div>
                    <!-- <img src="assets/images/portrait-01.png" class="img-circle img-responsive" /> -->
                  </div>
                

                  <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5 texte">
                    <h2>Venenatis</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl id lacus bibendum varius. Aenean vel augue lobortis, lobortis nunc vel, venenatis ante...
                  </div>
                  <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5">
                    <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>
                </div>
                <!-- Social -->


                </li>

                <li class="slide-02">



                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <video id="video-player" class="video-js vjs-default-skin video-center"
                      controls preload="auto" width="auto" height="auto"
                      poster="http://video-js.zencoder.com/oceans-clip.png"
                      data-setup='{"example_option":true}'>
                     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    </video>
                  </div>
                </div>
                <!-- Social -->
                <div class"row">
                  <div class="col-md-1 col-md-offset-5">
                      <button type="button" class="btn-circle video-center">retour</button>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>

                </div>


                </li>
              </ul>
            </div>


          </section>


          <section id="section-06">

            <div class="container-slide">
              <ul class="slide">
                <li class="slide-01">

                <div class="row picto-bg-01">
                  <div class="col-md-2 pull-right play-left">
                    <div class="play_button">Voir la video</div>
                    <!-- <img src="assets/images/portrait-01.png" class="img-circle img-responsive" /> -->
                  </div>
                

                  <div class="col-sm-5 col-md-5">
                    <h2>Venenatis</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl id lacus bibendum varius. Aenean vel augue lobortis, lobortis nunc vel, venenatis ante...
                  </div>
                  <div class="col-sm-5 col-md-5">
                    <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>
                </div>
                <!-- Social -->


                </li>

                <li class="slide-02">



                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <video id="video-player" class="video-js vjs-default-skin video-center"
                      controls preload="auto" width="auto" height="auto"
                      poster="http://video-js.zencoder.com/oceans-clip.png"
                      data-setup='{"example_option":true}'>
                     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    </video>
                  </div>
                </div>
                <!-- Social -->
                <div class"row">
                  <div class="col-md-1 col-md-offset-5">
                      <button type="button" class="btn-circle video-center">retour</button>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>

                </div>


                </li>
              </ul>
            </div>


          </section>

          <section id="section-07">

            <div class="container-slide">
              <ul class="slide">
                <li class="slide-01">

                <div class="row picto-bg-01">
                  <div class="col-md-2 pull-left play-right">
                    <div class="play_button">Voir la video</div>
                    <!-- <img src="assets/images/portrait-01.png" class="img-circle img-responsive" /> -->
                  </div>
                

                  <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5 texte">
                    <h2>Venenatis</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl id lacus bibendum varius. Aenean vel augue lobortis, lobortis nunc vel, venenatis ante...
                  </div>
                  <div class="col-md-offset-3 col-sm-offset-3 col-sm-5 col-md-5">
                    <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>
                </div>
                <!-- Social -->


                </li>

                <li class="slide-02">



                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <video id="video-player" class="video-js vjs-default-skin video-center"
                      controls preload="auto" width="auto" height="auto"
                      poster="http://video-js.zencoder.com/oceans-clip.png"
                      data-setup='{"example_option":true}'>
                     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    </video>
                  </div>
                </div>
                <!-- Social -->
                <div class"row">
                  <div class="col-md-1 col-md-offset-5">
                      <button type="button" class="btn-circle video-center">retour</button>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>

                </div>


                </li>
              </ul>
            </div>


          </section>


          <section id="section-08">

            <div class="container-slide">
              <ul class="slide">
                <li class="slide-01">

                <div class="row picto-bg-01">
                  <div class="col-md-2 pull-right play-left">
                    <div class="play_button">Voir la video</div>
                    <!-- <img src="assets/images/portrait-01.png" class="img-circle img-responsive" /> -->
                  </div>
                

                  <div class="col-sm-5 col-md-5">
                    <h2>Venenatis</h2>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper nisl id lacus bibendum varius. Aenean vel augue lobortis, lobortis nunc vel, venenatis ante...
                  </div>
                  <div class="col-sm-5 col-md-5">
                    <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>
                </div>
                <!-- Social -->


                </li>

                <li class="slide-02">



                <div class="row">
                  <div class="col-md-10 col-md-offset-1">
                    <video id="video-player" class="video-js vjs-default-skin video-center"
                      controls preload="auto" width="auto" height="auto"
                      poster="http://video-js.zencoder.com/oceans-clip.png"
                      data-setup='{"example_option":true}'>
                     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                    </video>
                  </div>
                </div>
                <!-- Social -->
                <div class"row">
                  <div class="col-md-1 col-md-offset-5">
                      <button type="button" class="btn-circle video-center">retour</button>
                  </div>
                  <div class="col-md-3 col-md-offset-3">
                      <div class="social">
                      <div class="fb-like" data-href="http://vann.vlipp.fr" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
                      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://localhost:8000/#section-05" data-lang="fr">Tweeter</a>
                    </div>
                  </div>

                </div>


                </li>
              </ul>
            </div>


          </section>
          

<!-- /Content -->

<!-- footer -->
          <footer>
            <div class="row">
              <div class="col-sm-2 col-md-2">
                <h3>Social</h3>
                <ul class="footer-list">
                  <li><a href="https://twitter.com/vlipp" target="_blank">Twitter</a></li>
                  <li><a href="https://www.facebook.com/vlipp.fr" target="_blank">Facebook</a></li>
                  <li><a href="http://www.vlipp.fr" target="_blank">Vlipp.fr</a></li>
                </ul>
              </div>
              <div class="col-xs-3 col-sm-2 col-md-2">
                <h3>Liens</h3>
                <ul class="footer-list">
                  <li><a href="http://www.vlipp.fr" target="_blank">Dipp</a></li>
                  <li><a href="http://vann.vlipp.fr" target="_blank">Voyage à Nantes nord</a></li>
                  <li></li>
                </ul>
              </div>
              <div class="col-md-2 pull-right">
              <a href="http://www.vlipp.fr" target='_blank'><img src="assets/images/VLIPP-logo.png" width="110px" /></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4" id="copyright">
                <small>©2013 copyright <a href="http://www.vlipp.fr" target="_blank">Vlipp.fr</a></small>
              </div>
            </div>
          </footer>
<!-- /footer -->
    
    
    <div id="scroll-top">^</div>


    </div>
<!-- /container -->

    <!-- facebook 
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/vendor/jquery.min.js"><\/script>')</script>

        <script src="assets/vendor/modernizr.js"></script>

        <script src="assets/vendor/bootstrap.min.js"></script>

        <script src="assets/vendor/tweenMax.js"></script>
        <script src="assets/vendor/SuperScrollorama.js"></script>

        <script src="assets/vendor/jQuery-Parallax.js"></script>

        <script src="assets/vendor/video.js.js"></script>

        <% if (grunt.config.get('dev')) {%>
          <script src="./assets/js/main.js"></script>
          <script src="http://localhost:35729/livereload.js"></script>
        <%}%>

        <% if (grunt.config.get('prod')) {%>
          <script src="./assets/js/main.min.js"></script>
        <%}%>
<!--
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        </script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
-->
    </body>
</html>