//		         _             _                   _           _            _           _        
//		        /\ \     _    / /\                /\ \     _  /\ \         /\ \        / /\      
//		       /  \ \   /\_\ / /  \              /  \ \   /\_\\_\ \       /  \ \      / /  \     
//		      / /\ \ \_/ / // / /\ \            / /\ \ \_/ / //\__ \     / /\ \ \    / / /\ \__  
//		     / / /\ \___/ // / /\ \ \          / / /\ \___/ // /_ \ \   / / /\ \_\  / / /\ \___\ 
//		    / / /  \/____// / /  \ \ \        / / /  \/____// / /\ \ \ / /_/_ \/_/  \ \ \ \/___/ 
//		   / / /    / / // / /___/ /\ \      / / /    / / // / /  \/_// /____/\      \ \ \       
//		  / / /    / / // / /_____/ /\ \    / / /    / / // / /      / /\____\/  _    \ \ \      
//		 / / /    / / // /_________/\ \ \  / / /    / / // / /      / / /______ /_/\__/ / /      
//		/ / /    / / // / /_       __\ \_\/ / /    / / //_/ /      / / /_______\\ \/___/ /       
//		\/_/     \/_/ \_\___\     /____/_/\/_/     \/_/ \_\/       \/__________/ \_____\/        
//		         _             _            _          _                                         
//		        /\ \     _    /\ \         /\ \       /\ \                                       
//		       /  \ \   /\_\ /  \ \       /  \ \     /  \ \____                                  
//		      / /\ \ \_/ / // /\ \ \     / /\ \ \   / /\ \_____\                                 
//		     / / /\ \___/ // / /\ \ \   / / /\ \_\ / / /\/___  /                                 
//		    / / /  \/____// / /  \ \_\ / / /_/ / // / /   / / /                                  
//		   / / /    / / // / /   / / // / /__\/ // / /   / / /                                   
//		  / / /    / / // / /   / / // / /_____// / /   / / /                                    
//		 / / /    / / // / /___/ / // / /\ \ \  \ \ \__/ / /                                     
//		/ / /    / / // / /____\/ // / /  \ \ \  \ \___\/ /                                      
//		\/_/     \/_/ \/_________/ \/_/    \_\/   \/_____/                                       
//		                                                                                         

// ==========================================================================
//	 ** Sass **
// ==========================================================================

  // Header
	  $font-header: 'Magritte', Verdana, sans-serif;
	  $h1: 5em;
	  $h2: 2em;
	  $h3: 2em;
	  $h4: 3em;

  // General
  	  $font: 'Quicksand', Verdana, sans-serif;
  	  $font-color: #EBE8DA;
  	  $font-link: white;
  	  $bg-color: #292927;

  	  @mixin head-group {
		font-family: $font-header;
	  }

  // Gradient background
  	  @mixin gradient-bg($deg, $color1, $color2, $percent) {
		background-image: linear-gradient($deg, $color1 $percent, $color1 $percent, $color2 $percent, $color1 100%);
	}

  // Picto background for each sections
	@for $i from 1 through 8 {
	.picto-bg-0#{$i} {
		background-image: url('../images/picto-bg-0#{$i}.png');
		background-repeat: no-repeat;
		background-position: 90% 10%;
	}
  
}

// ==========================================================================

@import url(http://fonts.googleapis.com/css?family=Lobster:300,400,700|Sacramento|Dawning+of+a+New+Day|Open+Sans:300,600,400|Quicksand:400,300,700);
@font-face {
  font-family: 'Magritte';
  src: url('../fonts/Holmes207.ttf');
}
@font-face {
  font-family: 'Holmes';
  src: url('../fonts/Holmes207.ttf');
  /*src: url('../fonts/Lobster.ttf');*/
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* temporaire css pour dev */
div[class*="col-"] {
	border: 0px dashed blue;
}
/* /temporaire css pour dev */
div[class*="row"] {
	border: 0px dashed yellow;
}


a {
	color: $font-link;
	&:hover {
		color: darken($font-link,30%);
		text-decoration: none;
		transition: all 0.5s;
	}
}

html, body {
	height: 100%;
}

body {
	font-family: $font;
	color: $font-color;
    background-attachment:fixed;
}


.bouton {
	margin-top: 70px;
	width: 250px;
	height: 60px;
	background-color: white;
    margin-left: 20px;
	text-align: center;
	line-height: 60px;
}

.btn-circle {
	background-color: white;
	border: 0;
	border-radius: 90px;
	margin-top: 20px;
	margin-left: 42%;
	width: 70px;
	height: 70px;
}

.container {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

#copyright {
	margin: 3em 0 0 0;
}

.centered {
	display: table-cell;
	vertical-align: middle;
}

footer {
	@include gradient-bg(138deg,rgb(41,41,39),rgb(38,38,34),80%);
	padding: 2em 5em 2em 5em;
}

.footer-list {
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	li {
		list-style: none;
	}
}

h1 {
	@include head-group;
	font-weight: 400;
	font-size: $h1;
	margin-top: 5px;
}

h2, h3 {
	@include head-group;
	font-size: $h2;
	letter-spacing: -1px;
}

h4 {
	@include head-group;
	font-weight: 100;
	font-size: $h4;
	letter-spacing: -1px;
}

nav ul li {
	display: inline;
	width: 13%;
	text-align: center;
	float:left;
	margin-top: 40px;
	margin-right: -2%;
	&:hover {
		transition: all 0.5s;
		margin-top: 3.5%;
	}
}

.menu {
	margin-top: 0%;
}

.nav-phone {
	margin-left: auto;
  	margin-right: auto;
  	height: 40%;
}

.nav-header-phone-portrait {
	display: none;
	min-height: 100%;
	height: 100%;
	width: 100%;
	left: 0;
	opacity: 1;
	padding: 0;
	text-align: center;
	color: #EBE9DE !important;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 30px;
	background-color: #292927;
	background-image: linear-gradient(138deg, rgb(41, 41, 39) 80%, rgb(38, 38, 34) 80%) !important;
	transform: translateY(0%);
	transition: all 0.5s;
    transition-property: height, top, padding-top;
}

.nav-header-phone-landscape {
	display: none;
	min-height: 100%;
	height: 100%;
	width: 100%;
	left: 0;
	opacity: 1;
	padding: 0;
	text-align: center;
	color: #EBE9DE !important;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 30px;
	/*background-color: yellow; */
	background-color: #292927;
	background-image: linear-gradient(138deg, rgb(41, 41, 39) 80%, rgb(38, 38, 34) 80%) !important;
	transform: translateY(0%);
	transition: all 0.5s;
    transition-property: height, top, padding-top;
}

.nav-header-shrink #nantes {
	font-size: 1.5em;
}

#nantes {
	font-size: 1.8em;
	font-family: $font-header;
}

#logo {
	margin-top: 60px;
	margin-right: 0px;
	cursor: pointer;
	text-align: center;
}


.nav-header {
	position: fixed;
	z-index: 1000;
	top: 3%;
	color: $font-color;
	height: 200px;
	padding: 10px 20px 30px 20px;
	background-color: $bg-color;
	@include gradient-bg(138deg, rgb(41, 41, 39), rgb(38, 38, 34), 80%);
	transform: translateY(0%);
	transition: all 0.5s;
    transition-property: height, top, padding-top;
}



.nav-header-shrink {
	width: 100%;
	top: 0%;
	height: 100px;
	padding-top: 15px;
	nav {
		margin-top: -40px;
	}
	img[id*="picto"] {
		width: 70px;
	}
	#logo {
		margin-top: 5px;
	}
	#vlipp-logo {
		width: 6%;
		margin-top: 1%;
	}
}

nav {
    margin-top: 0px;
    margin-left: 30px;
}

p {
	padding: 2em 4em 0em 1em;
	font-size: 1.2em;
	&:first-letter {
		font-size: 3em;
	}
}


@mixin play-button {
	margin-top: 0%;
	cursor: pointer;
	width: 220px;
    height: 100%;
}
.play-right {
	@include play-button;
	margin-left: 5%;
}

.play-left {
	@include play-button;
	margin-right: 5%;
}

.slideButton {
    position: relative;
    margin-top: 15%;
    background-image: url('../images/play.png');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    min-height: 220px;
    max-width: 220px;
    cursor: pointer;
    z-index: 999;
    padding: 43% 35% 1% 40%;
    color: black;
} 

.picto-mini {
	cursor: pointer;
}

@mixin section-bg($deg, $color, $number, $percent: 70%) {
	background-color: $color;
	background-image: linear-gradient($deg, rgba(0, 0, 0, 0) 40%,  $color 40%), url('../images/bgsection-0#{$number}.jpg');
}

/* illustration accueil */
section:nth-child(2) {
	padding-top: 220px;
	background-color: #F0EDDE;
	background-image: linear-gradient(128deg, #F0EDDE 70%, rgba(0, 0, 0, 0) 70%), url('../images/bgsection-00.png');
	height: 100%;
	background-position: 0% 10%;
	color: black;
}

/* 1 */
section:nth-child(3) {
    /*margin-top: 73%;*/
	background-color: #3F3758;
	background-image: linear-gradient(48deg, rgba(0, 0, 0, 0) 40%,  #3F3758 40%), url('../images/bgsection6.jpg');

}

/* 2 */
section:nth-child(4) {
	background-color: #91BFA8; /* fallback */
	background-image: linear-gradient(128deg, #91BFA8 58%,  rgba(0, 0, 0, 0) 58%), url('../images/bg.jpg');
    transition: all 1s;
}

/* 3 */
section:nth-child(5) {
	background-color: #E6C77D; /* fallback */
	background-image: linear-gradient(48deg, rgba(0, 0, 0, 0) 40%,  #E6C77D 40%), url('../images/bgsection6.jpg');
    transition: all 1s;
}

/* 4 */
section:nth-child(6) {
	background-color: #BD4B56; /* fallback */
	background-image: linear-gradient(128deg, #BD4B56 58%,  rgba(0, 0, 0, 0) 58%), url('../images/bg.jpg');
    transition: all 1s;
}

/* 5 */
section:nth-child(7) {
	background-color: #365B63; /* fallback */
	background-image: linear-gradient(48deg, rgba(0, 0, 0, 0) 40%,  #365B63 40%), url('../images/bgsection6.jpg');
    transition: all 1s;
}

/* 6 */
section:nth-child(8) {
	background-color: #C8BC9C; /* fallback */
	background-image: linear-gradient(128deg, #C8BC9C 58%,  rgba(0, 0, 0, 0) 58%), url('../images/bg.jpg');
    transition: all 1s;
}

/* 7 */
section:nth-child(9) {
	background-color: #C58747; /* fallback */
	background-image: linear-gradient(48deg, rgba(0, 0, 0, 0) 40%,  #C58747 40%), url('../images/bgsection6.jpg');
    transition: all 1s;
}

/* 8 */
section:nth-child(10) {
	background-color: #A53959; /* fallback */
	background-image: linear-gradient(128deg, #A53959 58%,  rgba(0, 0, 0, 0) 58%), url('../images/bg.jpg');
    transition: all 1s;
}


section {
	display: table;
	min-height: 90%;
	height: 90%;
	width: 100%;
	z-index: 1005;
	overflow: hidden;
}


#slogan {
	font-family: 'Holmes', cursive;
	font-size: 1em;
	margin-top: -10px;
}

.social {
	margin-top: 15px;
}

.social > .fb-like {
	margin-right: 3px;
}

.texte {
	margin-top: 0%;
	/*margin-right: 30px;*/
	text-align: right;
	/*background-color: orange;*/
}

.text-left {
	text-align: right;
}

/*.titre-diagonal {
	margin-top: -10%;
	transform:rotate(-52deg);
	opacity: 0.2;
}*/

/*.video-center {
	position: relative;
  	margin-left: auto;
 	margin-right: auto;
}*/



.video-js {padding-top: 36.25%}
.vjs-fullscreen {padding-top: 0px}

#vlipp-logo {
	width: 6%;
	margin-top: 75px;
	margin-right: 10px;
	float: right;
}

#video-player {
	margin-top: -60px;
}


#scroll-top {
	position: fixed;
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 10px;
	border-radius: 100px;
	text-align: center;
	line-height: 65px;
	font-size: 2.5em;
	background-color: black;
	opacity: 0.4;
	cursor: pointer;
}

/* Slide animation */

/* contient les deux sections et garde la fenêtre à la bonne taille */

.container-slide {
	/*background-color: yellow;*/
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;

}

.slide {
	list-style: none;
	width: 100%;
	display: inline;
}
.slide-01.slideLeft {
	opacity: 0;
  transform: translate3d(-100%,0,0);
}
.slide-02 {
	display:none;
  opacity: 0;
  transform: translate3d(100%,0,0);
}
.slide-02.slideLeft {
  opacity: 1;
  transform: translate3d(0,0,0);

}
video {
	opacity:0;
}

/* FIN Slide animation */

.nav-header-phone-landscape {
	display: none;
}
/*
.nav-header-phone-portrait {
	display: block;
}*/

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px) */
@media (max-width: 480px) and (max-width: 768px) { 
	#logo {
		margin-top: -10px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		width: 360px;
	}

	.picto-mini {
		width: 90px;
	}

	h2 {
		font-size: 2em;
	}

	section {
		font-size: 1.4em;
		height: 100%;
	}

	#container-nav {
		height: 100%;
	}

	.slideButton {
		font-size: 0.7em !important;
	}
}

@media (max-width: 1024px) and (orientation:landscape) {
	.nav-header-phone-landscape {
		display: block !important;
		/*min-height: 130% !important;*/
		/*height: 130%;*/
	}

	img {
        	width: 130px;
        }

	.nav-header {
		display: none !important;
	}

	#logo {
		margin-top: -20px;
		margin-bottom: -40px;
		min-height: 90px !important;
		font-size: 100%;
	}

	.nav-header-phone-portrait {
		display: none !important;
	}

	#container-nav {
		/*min-height: 100%;*/
		height: 130%;
	}

	.slide-01 {
		margin-top: 20px;
	}

	.slideButton {
		margin-top: 0px !important;
	}

	#video-player {
		margin-top: 20px;
	}
}

@media (max-width: 360px) and (orientation: portrait) {
	.nav-header-phone-portrait {
		height: 100%;
		display: block;
	}

	.nav-phone {
		margin-top: -60px;
	}

	.slideButton {
		margin-top: -7px;
		background-size: 160px 160px;
		margin-bottom: -50px;
		padding-top: 70px;
		padding-left: 63px;
	}

	#logo {
		margin-top: -30px !important;
		margin-bottom: 0px !important;
		max-width: 280px;
		margin-top: 20px;
		background-size: 180px 180px;
		height: 90px;
		width: 180px;
		margin-bottom: -20px;
	}

	.nav-header-phone-portrait {
		min-height: 440px;
	}


	#logo {
		margin-top: -20px !important;
		margin-bottom: -60px !important;
		max-width: 480px;
		padding-bottom: -70px !important;
		font-size: 1em;
		width: 300px;
	}

	section {
		height: 120%;
		text-align: justify;
		padding-right: 25px;
		font-size: 0.9em !important;
		padding-left: 45px;
	}
	section h2 {
		text-align: left;
	}

	.picto-mini {
		width: 70px;
	}

	.texte {	
		text-align: justify;
	}

	#video-player {
		width: 200px;
		height: 200px;
		margin-top: 20px !important;
		margin-left: auto;
		margin-right: auto;
	}

	.btn-circle {
		margin-top: 35px;
		margin-left: 70px;
		margin-right: auto;
	}

	.social {
		margin-top: 30px;
		margin-left: 80px;
	}
}


@media (min-width: 0px) and (max-width: 1024px) and (orientation: portrait) { 
	#logo {
		margin-top: -10px !important;
		margin-left: auto !important;
		margin-right: auto !important;
		margin-bottom: 30px;
		height: 130px;
		width: 200px;
		font-size: 1em;
	}
	

	.picto-mini {
		width: 90px;
	}

	h2 {
		font-size: 2em;
	}

	section {
		font-size: 1.4em;
		height: 120%;
	}

	#container-nav {
	height: 130% !important;
	}

	.nav-phone {
		margin-top: -40px;
	}

	.nav-header-phone-portrait {
		height: 100%;
		display: block;
	}

	.slideButton {
		font-size: 0.7em;
	}

}

@media (max-width: 992px) and (min-height: 768px) {

}


@media (min-width: 768px) and (max-width: 992px) { 

	#logo {
		margin-top: 7px;
		margin-left: -10px;
	}

	#video-player {
		margin-top: -40px;
	}
}


@media (min-width: 1025px) and (max-width: 1200px) { 

	#video-player {
		margin-top: -80px;
	}

	#container-nav {
		height: 0%;
	}

	#logo {
		min-width: 200px;
		/*margin-top: 0px !important;*/
		margin-left: 5px;
	}

	nav {
		margin-left: -20px;
	}

	nav ul li {
		display: inline;
		width: 15%;
		padding: 0;
		margin-top: 5%;
		margin-left: -10px;
		margin-right: -10px;
	}
}


/* retina & co */
@media
    only screen and (-webkit-min-device-pixel-ratio: 1.3),
    only screen and (min-device-pixel-ratio: 1.3),
    only screen and (min-resolution: 120dpi) {

        
        img {
        	width: 80px;
        }
}

@media
    only screen and (-webkit-min-device-pixel-ratio: 1.3) and (min-width: 1023px),
    only screen and (min-device-pixel-ratio: 1.3),
    only screen and (min-resolution: 120dpi) {

        
        img {
        	width: 130px;
        }
}